.navbar-inverse {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #333;
    font-family: "verdena";
    font-size: 20px;
}

#start-btn{
  margin-bottom: 70px;
}

#bara_jos{
  height: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #333;
  font-family: "verdena";
  font-size: 13px;
}

.first-row
{
  padding-top: 70px;
}

body{
  background-image: url("back.png");
}

video {
  width: 100%;    
  height: auto;   
}

#central-container
{
  max-width:1100px;
}

.media-box:hover, .folder-box:hover{

  padding: 0px 0px 0px 0px;
  
  /*box-shadow: 10px 10px 17px #000000;*/

  transition: all 200ms linear;
  transform: scale(1.003);
}


@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}


.media-box, .folder-box{
  height:350px;
  transition: width 0.3s, height 0.3s;
}


@media (min-width: 1200px) 
{
  .media-box, .folder-box{
    max-width: 250px;
    height:300px;
  }

}


@media (max-width: 768px) {

  #user{
    display: none;
  }
}


.panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}

[class^="col-"], [class*=" col-"] {
  /*transition: width 0.5s, height 0.5s;*/
}
#user{
    color: #aaa;
}




